/* prefixer */
body {
  height: 100%;
  color: white;
  font-family: "Raleway";
  overflow-x: hidden;
  margin: 0 !important;
}

body::-webkit-scrollbar {
  width: 5px;
}

body::-webkit-scrollbar-thumb {
  background: #9d1328;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

body::-webkit-scrollbar-track {
  background-color: #171717;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

#container {
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-box-align: center;
  -o-box-align: center;
  box-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  -o-justify-content: center;
  justify-content: center;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -ms-box-pack: center;
  -o-box-pack: center;
  box-pack: center;
  -ms-flex-align: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
  height: 100vh;
  max-width: 100vw;
  background-image: url("https://dl.dropbox.com/s/202xvtnu2dl4u14/back-container.svg?raw=1");
}

#container p {
  position: absolute;
  font-size: 20px;
  z-index: 1;
}

#center {
  border: 0 !important;
  height: 70vh !important;
  width: 100vw;
  margin-top: 30vh;
}

#p1 {
  margin-top: -15vh;
}

#p2 {
  margin-top: 25vh;
}

#p3 {
  margin-top: 35vh;
  text-decoration: underline;
}

#mar-1 {
  height: 140vh;
  margin-top: -50vh;
  background-image: url("https://dl.dropbox.com/s/oak1t66iqdo5fr3/mar-1.svg?raw=1");
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

#tudo {
  margin-top: -110vh;
  position: relative;
}

.nome, .raias {
  height: 10vh;
}

.nome {
  font-size: 3vw;
  width: 50%;
  position: absolute;
  z-index: 1;
  margin: 0 10%;
  text-shadow: 2px 2px 1px #001348;
}

.raias {
  display: flex;
}

.dados {
  width: 100%;
  height: 85vh;
  margin-top: 5%;
}

.animal, .descricao {
  height: inherit;
  float: left;
  border-radius: 10%;
  text-align: right;
}

#nome-1 {
  text-align: left;
  padding-top: 10vh;
  margin-bottom: auto;
}

.ncientifico {
  font-size: 1.3vw;
  margin: inherit;
}

#animal-1 {
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 60%;
}

#animal-1 path, #animal-1 circle {
  stroke-opacity: 0.9;
  stroke: blue;
  fill-opacity: 0;
  stroke-width: .5px;
}

#descricao-1 {
  width: 60%;
  margin-top: 10vh;
  word-spacing: 1px;
  font-size: 1.7vw;
  line-height: 3vw;
  padding-right: 2%;
  position: absolute;
  right: 0;
}

.raias svg {
  width: 50%;
  cursor: pointer;
  transition: 250ms;
}

#raia-l {
  transform: translateX(5px);
}

#raia-r {
  transform: translateX(-5px) rotate(180deg);
}

.sOpac {
  stroke: transparent !important;
}

@keyframes draw {
  100% {
    stroke-dashoffset: 0;
    fill-opacity: 1;
  }
}

@media screen and (min-width: 1200px) {
  #img-back {
    height: inherit;
  }
}

@media screen and (max-width: 760px) {
  #center {
    width: 150vw;
  }
}

@media screen and (max-width: 845px) {
  .animal, .descricao {
    width: 100% !important;
  }
  #descricao-1 {
    height: 50vh;
    margin-top: -30vh;
  }
  #nome-1 {
    padding-right: 0;
  }
  .raias {
    margin-top: 15vh;
  }
}
