/* prefixer */
body {
  height: 100%;
  color: white;
  font-family: "Raleway";
  overflow-x: hidden;
  margin: 0 !important;
}

body::-webkit-scrollbar {
  width: 4px;
}

body::-webkit-scrollbar-thumb {
  background: #3d7bff;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

body::-webkit-scrollbar-track {
  background-color: #0a1c76;
}

#container {
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-box-align: center;
  -o-box-align: center;
  box-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  -o-justify-content: center;
  justify-content: center;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -ms-box-pack: center;
  -o-box-pack: center;
  box-pack: center;
  -ms-flex-align: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
  height: 100vh;
  max-width: 100vw;
  background-image: url("https://dl.dropbox.com/s/202xvtnu2dl4u14/back-container.svg?raw=1");
}

#container p {
  position: absolute;
  font-size: 20px;
  z-index: 1;
}

#center {
  border: 0;
  height: 70vh;
  width: 102%;
  margin-top: 30vh;
}

#p1 {
  margin-top: -15vh;
}

#p2 {
  margin-top: 25vh;
}

#p3 {
  margin-top: 35vh;
  text-decoration: underline;
}

.mar {
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

.mar.m1 {
  height: 150vh;
  margin-top: -50vh;
  background-image: url("https://dl.dropbox.com/s/oak1t66iqdo5fr3/mar-1.svg?raw=1");
}

.mar.m2 {
  height: 200vh;
  margin-top: 15vh;
  background-image: url("https://www.dropbox.com/s/jdrmr0i8b0qmz2l/mar-2.svg?raw=1");
}

.tudo {
  margin-top: -120vh;
  position: relative;
  margin-bottom: 8vh;
}

.tudo.t2 {
  margin-bottom: 15vh;
  margin-top: -215vh !important;
}

.tudo.t3 {
  margin-bottom: 0;
  margin-top: -15vh;
}

.nome, .raias {
  height: 10vh;
}

.nome {
  font-size: 3vw;
  width: 50%;
  z-index: 1;
  margin: 0 0 0 10%;
  text-shadow: 2px 2px 1px #001348;
  font-weight: bold;
  position: absolute;
  padding-top: 15vh;
}

.dados {
  width: 100%;
  height: 85vh;
  margin-top: 5%;
}

.animal, .descricao {
  height: inherit;
  float: left;
  border-radius: 10%;
  text-align: right;
}

#nome-1 {
  text-align: left;
  margin-bottom: auto;
  padding-top: 0vh !important;
}

.ncientifico {
  font-size: 1.3vw;
  margin: inherit;
}

#animal-1 {
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 60%;
}

#animal-1 path, #animal-1 circle {
  stroke-opacity: 0.9;
  stroke: blue;
  fill-opacity: 0;
  stroke-width: .5px;
}

#descricao-1 {
  width: 60%;
  margin-top: 10vh;
  word-spacing: 1px;
  font-size: 1.4rem;
  line-height: 3vw;
  padding-right: 2%;
  position: absolute;
  right: 0;
  text-shadow: 1px 2px 5px #001348;
}

.raias {
  display: flex;
  z-index: 2;
  margin: 5vh 0 -5vh;
}

.raias svg {
  width: 50%;
  cursor: pointer;
  transition: 250ms;
  height: 80%;
  padding-top: 2%;
}

.raias svg .cls-1, .raias svg .cls-4 {
  fill: none;
}

.raias svg .cls-1, .raias svg .cls-2, .raias svg .cls-4 {
  stroke: #fff;
  stroke-miterlimit: 10;
}

.raias svg .cls-1 {
  stroke-width: 0.75px;
}

.raias svg .cls-2, .raias svg .cls-3 {
  fill: #072a49;
}

.raias svg .cls-2, .raias svg .cls-4 {
  stroke-width: 0.5px;
}

.raias #raia-l {
  transform: translateX(5px);
}

.raias #raia-r {
  transform: translateX(-5px) rotate(180deg);
  padding-top: 0;
  padding-bottom: 2%;
}

.sOpac {
  stroke: transparent !important;
}

@keyframes draw {
  0% {
    stroke-opacity: 1;
    fill-opacity: 0;
  }
  100% {
    stroke-dashoffset: 0;
    fill-opacity: 1;
    stroke-opacity: 0;
  }
}

@media screen and (min-width: 1200px) {
  #img-back {
    height: inherit;
  }
}

@media screen and (max-width: 760px) {
  #center {
    width: 150vw;
    position: fixed;
    margin-top: 15vh;
  }
  /*.mar.m2 {
    height: 205vh;
		margin-top: -3vh;
	}*/
  .tudo {
    margin-top: -100vh;
    height: fit-content;
    margin-bottom: 10vh;
  }
  .tudo.t2 {
    margin-top: -195vh !important;
  }
  .tudo.t3 {
    margin-top: 10vh;
  }
  .nome {
    font-size: 1.7rem;
    width: 100%;
    position: static;
    padding-top: 0vh;
  }
  #nome-1 {
    padding-top: 0vh !important;
  }
  .ncientifico {
    font-size: 1rem;
    margin-right: 10%;
  }
  .dados {
    height: 70vh;
  }
  #animal-1 {
    width: 100% !important;
    display: flex !important;
    margin-top: -15vh !important;
    height: 50%;
  }
  #animal-1 svg {
    width: 90%;
  }
  #descricao-1 {
    height: 50vh;
    width: 80% !important;
    padding: 0 10%;
    text-align: center;
    position: static;
    font-size: 3vw;
    font-size: calc((.4vw - 5px) + (16px + .5vw));
    line-height: 4.3vw;
    margin-top: -5vh;
  }
  .raias {
    position: absolute;
    width: 90%;
    margin: 0 5%;
  }
}
