/* prefixer */
@mixin prefix($style: transform, $value: rotate(0deg)){
  #{ "-webkit-" + $style }: #{ $value };
    #{ "-moz-" + $style }: #{ $value };
      #{ "-ms-" + $style }: #{ $value };
        #{ "-o-" + $style }: #{ $value };
          #{$style}: #{ $value };
}
@mixin center-align {
	@include prefix(box-align, center);
  @include prefix(align-items, center);
  @include prefix(justify-content, center);
  @include prefix(box-pack, center);
  -ms-flex-align: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
}
body{
	height: 100%;
	//background-color: #83CCDD;
	color: white;
	font-family: "Raleway";
	overflow-x: hidden;
	margin: 0 !important;
	&::-webkit-scrollbar {
    width: 5px;
	}
	&::-webkit-scrollbar-thumb {
    background: #9d1328;
    -webkit-border-radius: 10px;
    border-radius: 10px;
	}
	&::-webkit-scrollbar-track {
    background-color: #171717;
    -webkit-border-radius: 5px;
    border-radius: 5px;
	}
}
#container {
	@include center-align;
	height: 100vh;
  max-width: 100vw;
	background-image: url('https://dl.dropbox.com/s/202xvtnu2dl4u14/back-container.svg?raw=1');
	& p {
		position: absolute;
		font-size: 20px;
		z-index: 1;
	}
}
#center {
	border: 0 !important;
  height: 70vh !important;
  width: 100vw;
  margin-top: 30vh;
}
#p1 {
	margin-top: -15vh;
}
#p2 {
	margin-top: 25vh;
}
#p3 {
	margin-top: 35vh;
	text-decoration: underline;
}
.mar {
	background-size: cover;
  background-repeat: no-repeat;
	position: relative;
	&.m1 {
		height: 150vh;
    margin-top: -50vh;
		background-image: url('https://dl.dropbox.com/s/oak1t66iqdo5fr3/mar-1.svg?raw=1');
	}
	&.m2 {
		height: 200vh;
		margin-top: 10vh;
		background-image: url('https://www.dropbox.com/s/jdrmr0i8b0qmz2l/mar-2.svg?raw=1');
	}
}

.tudo {
	margin-top: -120vh;
	position: relative;
	margin-bottom: 8vh;
	&.t2 {
		margin-bottom: 15vh;
    margin-top: -215vh !important;
	}
	&.t3 {
		margin-bottom: 0;
    margin-top: -15vh;
	}
}
.nome, .raias {
	height: 10vh;
  //background-color: #009688;
}
.nome {
	font-size: 3vw;
  width: 50%;
  z-index: 1;
  margin: 0 0 0 10%;
	text-shadow: 2px 2px 1px #001348;
	font-weight: bold;
	position: absolute;
	padding-top: 15vh;
}
.raias {
	display: flex;
	z-index: 2;
	margin: 8% 0 -15vh;
}
.dados {
	width: 100%;
	height: 85vh;
	margin-top: 5%;
}
.animal, .descricao {
	height: inherit;
   //background: #171717;
  float: left;
  border-radius: 10%;
	text-align: right;
}
#nome-1 {
  text-align: left;
  margin-bottom: auto;
}
.ncientifico{
  font-size: 1.3vw;
  margin: inherit;
}
#animal-1 {
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
	width: 60%;
	& path, & circle {
		stroke-opacity: 0.9;
		stroke: blue;
		fill-opacity: 0;
		stroke-width: .5px;
		//animation: draw 3s;
	}
}
#descricao-1 {
  width: 60%;
  margin-top: 10vh;
  word-spacing: 1px;
  font-size: 1.4rem;
  line-height: 3vw;
  padding-right: 2%;
  position: absolute;
	right: 0;
	text-shadow: 1px 2px 5px #001348;
}
.raias svg {
	width: 50%;
	cursor: pointer;
	transition: 250ms;
	.cls-1,.cls-4{fill:none;}.cls-1,.cls-2,.cls-4{stroke:#fff;stroke-miterlimit:10;}.cls-1{stroke-width:0.75px;}.cls-2,.cls-3{fill:#072a49;}.cls-2,.cls-4{stroke-width:0.5px;}
}
$raia-trans: "5px";
#raia-l {
  transform: translateX(#{$raia-trans});
}
#raia-r {
  transform: translateX(-#{$raia-trans}) rotate(180deg);
}
.sOpac {
	stroke: transparent !important;
}
@keyframes draw {
	0% {
		stroke-opacity: 1;
		fill-opacity: 0;
	}
	100% {
		stroke-dashoffset: 0;
		fill-opacity: 1;
		stroke-opacity: 0;
	}
}


@media screen and (min-width: 1200px){
	#img-back {
		height: inherit;
	}
}
@media screen and (max-width: 760px){
	#center {
		width: 150vw;
		position: fixed;
		margin-top: 15vh;
	}
	/*.mar.m2 {
    height: 205vh;
		margin-top: -3vh;
	}*/
	.tudo {
		margin-top: -100vh;
    height: fit-content;
		margin-bottom: 10vh;
		&.t2 {
			margin-top: -195vh !important;
		}
		&.t3 {
			margin-top: 10vh;
		}
	}
	.nome {
		font-size: 1.7rem;
		width: 100%;
		position: static;
		padding-top: 0vh;
	}
	#nome-1 {
		padding-top: 0vh !important;
	}
	.ncientifico {
		font-size: 1rem;
    margin-right: 10%;
	}
	.dados {
		height: 70vh;
	}
	#animal-1 {
		width: 100% !important;
    display: flex !important;
    margin-top: -15vh !important;
    height: 50%;
		svg {
			width: 90%;
		}
	}
	#descricao-1 {
		height: 50vh;
    width: 80% !important;
    padding: 0 10%;
    text-align: center;
    position: static;
    font-size: 3vw;
    font-size: calc((.4vw - 5px) + (16px + .5vw));
    line-height: 4.3vw;
    margin-top: -5vh;
	}
	.raias {
		position: absolute;
		width: 90%;
		margin: 0 5%;
	}
}
